{% extends 'rrs_app/base.html' %}

{% block content %}

<br></br>



<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ PAGE</title>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <main>

        <h1 class="faq-heading">FAQ'S</h1>
				<br></br>
        <section class="faq-container">
            <div class="faq-one">
                <!-- faq question -->
                <h2 class="faq-page">Do I need a special pot for recipes?</h2>
                <!-- faq answer -->
                <div class="faq-body">
                    <p>You do not need any special equipment; you can make our recipes with your home pot. Also, specifically indicated in the recipe when necessary.</p>
                </div>
            </div>
            <hr class="hr-line">
            <div class="faq-two">
                <!-- faq question -->
                <h2 class="faq-page">Can I double the recipe?</h2>
                <!-- faq answer -->
                <div class="faq-body">
                    <p>You can double the recipe by doubling the ingredients.</p>
                </div>
            </div>
            <hr class="hr-line">
            <div class="faq-three">
                <!-- faq question -->
								<h2 class="faq-page">I don’t want to use oil; what do you suggest using to substitute oil in your recipes?</h2>
                <!-- faq answer -->
                <div class="faq-body">
                    <p>It depends on the recipe. You can use different things instead of oil, but you may not get the desired result in taste.</p>
                </div>
            </div>
						<hr class="hr-line">
						<div class="faq-four">
								<!-- faq question -->
								<h2 class="faq-page">Can I share your recipes on other sites?</h2>
								<!-- faq answer -->
								<div class="faq-body">
										<p>You can share as long as you give references.</p>
								</div>
						</div>

						<hr class="hr-line">
						<div class="faq-five">
								<!-- faq question -->
								<h2 class="faq-page">Can we upload our own recipes to your site?</h2>
								<!-- faq answer -->
								<div class="faq-body">
										<p>We do not have such a feature for now, but we are planning.</p>
								</div>
						</div>

						<hr class="hr-line">
						<div class="faq-six">
								<!-- faq question -->
								<h2 class="faq-page">Can I find recipes from world cuisine?</h2>
								<!-- faq answer -->
								<div class="faq-body">
										<p>Yes, you can, we bring you together with all the world cuisine according to your materials. We also have a goal of doubling our recipes every month.</p>
								</div>
						</div>

						<hr class="hr-line">
						<div class="faq-seven">
								<!-- faq question -->
								<h2 class="faq-page">Can I use margarine in place of butter?</h2>
								<!-- faq answer -->
								<div class="faq-body">
										<p>Probably not. It’s too watery and doesn’t behave like butter. I would suggest vegan butter such as Earth Balance sticks rather than margarine, but real butter is all I bake with when I call for butter in my recipes and using anything else can be a big gamble.</p>
								</div>
						</div>

						<hr class="hr-line">
						<div class="faq-eight">
								<!-- faq question -->
								<h2 class="faq-page">Can I make this recipe vegan?</h2>
								<!-- faq answer -->
								<div class="faq-body">
										<p>Yes, you can. All recipes are tageed according to diet type. The recipes that is tagged as vegan contains only vegan ingredients.</p>
								</div>
						</div>

						<hr class="hr-line">
						<div class="faq-nine">
								<!-- faq question -->
								<h2 class="faq-page">How often unit cost price updated?</h2>
								<!-- faq answer -->
								<div class="faq-body">
										<p>Ingredşents unit cost is uptated every first day og the month. </p>
								</div>
						</div>

						<hr class="hr-line">
						<div class="faq-ten">
								<!-- faq question -->
								<h2 class="faq-page">Where do you get unit these prices?</h2>
								<!-- faq answer -->
								<div class="faq-body">
										<p> Our Ingredient prices are taken from the website of our supplier company on the basis of kilo, liter and unit, with reference to the retail sales prices.</p>
								</div>
						</div>

        </section>
    </main>
    <script src="main.js"></script>
</body>
{% endblock %}
